<template>
  <div id="app">
    <TodoList v-bind:todos="todosR"></TodoList>
  </div>
</template>

<script>
import TodoList from "./components/TodoList";
export default {
  
  name: "App",
  components: {
    TodoList
  },
  //data function avails data to the templ
  data() {
    return {
      todosR: [
        {
          title: "Todo A",
          project: "Project A",
          done: false
        },
        {
          title: "Todo B",
          project: "Project B",
          done: true
        },
        {
          title: "Todo C",
          project: "Project C",
          done: false
        }
      ]
    };//return
  }//data

};//export default
</script>

<style>
/* #app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
